
.light{
    z-index: 2;
    position: fixed;
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.4);
    filter: blur(300px);
    border-radius: 235px;
    animation: light-anim 3s ease-in 0s infinite;
}
@keyframes light-anim{
    0%{width: 470px;
        height: 470px;}
    50%{
        width: 400px;
    height: 400px;
    }
    100%{width: 470px;
        height: 470px;}
}

@keyframes antiClockwiseSpin {
	0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}	
}
@keyframes clockwiseSpin {
	0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}	
}
#background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 11, 20,0.95);
}


/*Notice Text*/
#clockdiv{
    font-family: sans-serif;
    z-index: 2;
    bottom: 0;
    position: fixed;
	color: #fafafa;
	display: inline-block;
	font-weight: 100;
	
    font-size: 30px;

    left: 2%;

   
    
    margin: auto;
    margin-bottom: 2%;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: rgba(0, 191, 150, 0.418);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgba(0, 129, 105, 0.452);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
.right_icons_div{
    position: absolute;
    top: 13vw;
    right: 8%;
}
.left_icon_div{
    position: absolute;
    top: 30%;
    left: 13%;
}

.right-icon{
    text-align: center;
    border: 2px solid #fafafa;
    color: #fafafa;
    position: relative;
    top: 25px;
    z-index: 2;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.right-icon p{
    padding-top: 11px;
}

@media only screen and (max-width: 600px) {
    #clockdiv{
        display: none;
        font-size: 30px;
    }
    #clockdiv div > span{
        padding: 10px;
    }
    .smalltext{
        font-size: 10px
    }
}