 .icon-bar {
				  position: fixed;
				  top: 50%;
				  -webkit-transform: translateY(-50%);
				  -ms-transform: translateY(-50%);
				  transform: translateY(-50%);
				  z-index: 2;
				  position: fixed;
				  color: #fafafa;
					display: inline-block;

				}

				.icon-bar a {
				  display: block;
				  text-align: center;
				  padding: 16px;
				  transition: all 0.3s ease;
				  color: white;
				  font-size: 20px;
		          border-radius: 50%;
		          margin: 8px;
		          position: relative;
		          z-index:2;
				}

				.icon-bar a:hover {
				  background-color: #040b15;
				  

				}

				.facebook {
				  background: rgba(0, 129, 105, 0.452);
				  color: white;

				}

				.twitter {
				  background: rgba(0, 129, 105, 0.452);
				  color: white;
				}

				.google {
				  background: rgba(0, 129, 105, 0.452);
				  color: white;
				}

				.linkedin {
				  background: rgba(0, 129, 105, 0.452);
				  color: white;
				}

				.youtube {
				  background: rgba(0, 129, 105, 0.452);
				  color: white;
				}

				