h1{
	margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
	text-align: center;
	text-shadow: all;
	width: 100% 
	}
h2{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-bottom: groove;
	width: 40%;
	font-weight: bold;
}
img{
	margin-left: auto;
  margin-right: auto;
  padding: 50px;
  padding-bottom: 0px;
  display: inline-flex;
}
.top{
	margin-top: 15%;
}
.detail{
	float: right;
	margin-top: 0px;
}
#tz{
	 margin: auto;
  width: 40%;
  padding: 10px;
}
#tz1{
	 margin: auto;
  width: 60%;
  padding: 10px;
}
body{
	background: #dedede;
	font-family: 'Open Sans', Sans-Serif	;
}
@media only screen and (max-width: 768px)
.heading {
    height: 25vh;
    font-size: 2em;
}
.heading{
	height: 25vh;
    max-width: 100vw;
    z-index: 1;
    color: white;
    font-size: 3.8em;
    font-weight: 900;
    letter-spacing: 1vw;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-transform: uppercase;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.h{
	margin-top: 5%;
}
